---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=49cad0173e3447b19aa182500232204&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/25/2023 20:22:41
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 72f6b72eaec69f8866fac9aec17dbe93
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682454161,"localtime":"2023-04-25
        14:22"},"current":{"last_updated_epoch":1682453700,"last_updated":"2023-04-25
        14:15","temp_c":14.8,"temp_f":58.6,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":10,"wind_dir":"N","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"humidity":28,"cloud":75,"feelslike_c":13.2,"feelslike_f":55.7,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":17.0,"gust_kph":27.4},"forecast":{"forecastday":[{"date":"2023-04-25","date_epoch":1682380800,"day":{"maxtemp_c":16.4,"maxtemp_f":61.5,"mintemp_c":3.7,"mintemp_f":38.7,"avgtemp_c":9.5,"avgtemp_f":49.1,"maxwind_mph":20.4,"maxwind_kph":32.8,"totalprecip_mm":7.5,"totalprecip_in":0.3,"totalsnow_cm":1.11,"avgvis_km":8.9,"avgvis_miles":5.0,"avghumidity":67.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":2.0},"astro":{"sunrise":"06:08
        AM","sunset":"07:48 PM","moonrise":"09:51 AM","moonset":"12:59 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"24"},"hour":[{"time_epoch":1682402400,"time":"2023-04-25
        00:00","temp_c":9.9,"temp_f":49.8,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":9.2,"wind_kph":14.8,"wind_degree":188,"wind_dir":"S","pressure_mb":1006.0,"pressure_in":29.71,"precip_mm":0.0,"precip_in":0.0,"humidity":57,"cloud":45,"feelslike_c":7.8,"feelslike_f":46.0,"windchill_c":7.8,"windchill_f":46.0,"heatindex_c":9.9,"heatindex_f":49.8,"dewpoint_c":1.8,"dewpoint_f":35.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":12.5,"gust_kph":20.2,"uv":1.0},{"time_epoch":1682406000,"time":"2023-04-25
        01:00","temp_c":10.1,"temp_f":50.2,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":214,"wind_dir":"SW","pressure_mb":1006.0,"pressure_in":29.7,"precip_mm":0.0,"precip_in":0.0,"humidity":57,"cloud":75,"feelslike_c":8.4,"feelslike_f":47.1,"windchill_c":8.4,"windchill_[...]
