---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=49cad0173e3447b19aa182500232204&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 02:43:30
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cb16bc8ab4906edc0c1936b977bfc1aa
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682217810,"localtime":"2023-04-22
        20:43"},"current":{"last_updated_epoch":1682217000,"last_updated":"2023-04-22
        20:30","temp_c":0.8,"temp_f":33.4,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":72,"cloud":75,"feelslike_c":-0.7,"feelslike_f":30.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":3.6,"gust_kph":5.8},"forecast":{"forecastday":[{"date":"2023-04-22","date_epoch":1682121600,"day":{"maxtemp_c":5.8,"maxtemp_f":42.4,"mintemp_c":-1.8,"mintemp_f":28.8,"avgtemp_c":1.8,"avgtemp_f":35.3,"maxwind_mph":11.4,"maxwind_kph":18.4,"totalprecip_mm":7.5,"totalprecip_in":0.3,"totalsnow_cm":6.12,"avgvis_km":8.3,"avgvis_miles":5.0,"avghumidity":70.0,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":19,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":1.0},"astro":{"sunrise":"06:12
        AM","sunset":"07:45 PM","moonrise":"07:34 AM","moonset":"10:58 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"4","is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1682143200,"time":"2023-04-22
        00:00","temp_c":0.5,"temp_f":32.9,"is_day":0,"condition":{"text":"Heavy snow","icon":"//cdn.weatherapi.com/weather/64x64/night/338.png","code":1225},"wind_mph":11.4,"wind_kph":18.4,"wind_degree":28,"wind_dir":"NNE","pressure_mb":1024.0,"pressure_in":30.25,"precip_mm":2.7,"precip_in":0.11,"humidity":91,"cloud":93,"feelslike_c":-4.4,"feelslike_f":24.1,"windchill_c":-4.4,"windchill_f":24.1,"heatindex_c":0.5,"heatindex_f":32.9,"dewpoint_c":-0.8,"dewpoint_f":30.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":1,"chance_of_snow":74,"vis_km":2.0,"vis_miles":1.0,"gust_mph":13.6,"gust_kph":22.0,"uv":1.0},{"time_epoch":1682146800,"time":"2023-04-22
        01:00","temp_c":0.1,"temp_f":32.2,"is_day":0,"condition":{"text":"Heavy snow","icon":"//cdn.weatherapi.com/weather/64x64/night/338.png","code":1225},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":24,"wind_dir":"NNE","pressure_mb":1025.0,"pressure_in":30.26,"precip_mm":0.9,"precip_in":0.04,"humidity":91,"cloud":92,"feelslike_c":-3.9,"feelslike_f":25.0,"windchill_c":-3.9,"win[...]
[...]
